# GitLab
GITLAB_BASEURL=http://gitlab:8080
GITLAB_ACCESS_TOKEN=replace-me

# ownCloud
OWNCLOUD_URL=http://owncloud:8080
OWNCLOUD_USERNAME=replace-me
OWNCLOUD_PASSWORD=replace-me

# Optional when ownCloud is reached by IP but expects a trusted hostname.
# OWNCLOUD_HOST_HEADER=the-agent-company.com

